<header class="global__headerwrapper">
    <div class="global__headerwrapper--logowrap">
        <a href="#" target="_blank"><img src="../assets/logo-transparent-white.png" alt="logo" class="global__headerwrapper--logo"></a>
    </div>

    <nav class="global__nav">
        <ul class="global__nav--list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <a href="#" class="global__cart--link">
            <i class="fa-light fa-bag-shopping fa-bag-icon"></i>
        </a>

        <div class="global__hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    
</header>

