// _colors.scss
:root {
  --eerie-black: #1E1E1E;
  --silver: #C6C1B9;
  --chamoisee: #A67C52;
  --isabelline: #EDE8E2;
  --onyx: #3D3D3D;
}

/* SCSS HEX */
$eerie-black: #1E1E1E;
$silver: #C6C1B9;
$chamoisee: #A67C52;
$isabelline: #EDE8E2;
$onyx: #3D3D3D;